BACKEND_URL=http://backend:8000

DB_HOST_PROD = <example>
DB_PORT_PROD = <example>
DB_NAME_PROD = <example>
DB_USER_PROD = <example>
DB_PASS_PROD = <example>
PGADMIN_EMAIL = <example>
PGADMIN_PASSWORD = <example>

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME= <example>
MINIO_ACCESS_KEY= <example>
MINIO_SECRET_KEY= <example>
MINIO_ENDPOINT=minio