DB_HOST_PROD = <example>
DB_PORT_PROD = <example>
DB_NAME_PROD = <example>
DB_USER_PROD = <example>
DB_PASS_PROD = <example>
PGADMIN_EMAIL = <example>
PGADMIN_PASSWORD = <example>

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=nome_do_bucket