fastapi
uvicorn
SQLAlchemy
email-validator
psycopg2-binary
python-dotenv
dbt-postgres
sqlfluff-templater-dbt
duckdb
tqdm
faker
pandas
pyarrow
boto3
google-analytics-data
google-auth
google-auth-oauthlib
google-api-core
googleapis-common-protos
asyncpg